@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400');
@import url(https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap);

html {
    scroll-behavior: smooth;
  }
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #c24b44;
    height: 100vh;
}

.wrapper {
    box-sizing: content-box;
    background-color: #ffffff;
    height: 70px;
    border-radius: 8px;
    padding: 50px 30px;
    display: flex;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.2);
}

.words {
    overflow: hidden;
}


.container {
    width: 100%;
    height: 100%;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    display: flex;
    scroll-behavior: smooth;

    section {
        flex: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        scroll-snap-align: start;

        &:nth-of-type(1) {
            color: black;

            body {
                display: grid;
                place-items: center;
            }

            span {
                display: block;
                height: 100%;
                padding-left: 10px;
                color: #c24b44;
                animation: spin_words 6s infinite;
                font-family: "Poppins", sans-serif;
                font-size: 1.5rem;
                font-weight: 500;
            }

            p{
                font-family: "Poppins", sans-serif;
                font-size: 1.5rem;
                font-weight: 500;
            }
        }

        &:nth-of-type(2) {
            p {
                position: absolute;
                transform: translate(-50%, -50%);
                top: 35%;
                left: 50%;
                color: #ffffff;
                font-family: 'Poppins', sans-serif;
                text-transform: uppercase;
                font-size: 3rem;
                letter-spacing: 25px;
            }

            a {
                position: absolute;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
                font-family: 'Poppins', sans-serif;
                text-transform: uppercase;
                font-size: 3rem;
                letter-spacing: 25px;
                color: #27ADFF;
            }

            a:before {
                content: attr(data-text);
                position: absolute;
                top: 0;
                left: 0;
                color: transparent;
                background-image: 
                repeating-linear-gradient(
                    135deg,
                    transparent 0,
                    transparent 2px,
                    #ed0a8b 2px,
                    #ed0a8b 4px
                );
                -webkit-background-clip: text;
                    background-clip: text;
                z-index: -1;
                -webkit-text-stroke: 2px #ed0a8b;
            }

            a:hover:before {
                top: 0.1em;
                left: 0.1em;
            }

            a:after {
                content: attr(data-text);
                position: absolute;
                top: 0;
                left: 0;
                color: rgba(255, 255, 255, 0.2);
                -webkit-text-stroke: 2px #ffffff;
            }

            a:hover:after {
                top: -0.1em;
                left: -0.1em;
            }

            a:link {
                text-decoration: none;
            }

        }

        &:nth-of-type(3) {
            color: #ffffff;

            h1 {
                font-family: 'Lato-Light', sans-serif;
                font-style: italic;
                font-weight: 300;
            }

            span {
                position: absolute;
                transform: translate(-50%, -50%);
                top: 35%;
                left: 10%;
                font-family: 'Poppins', sans-serif;
                text-transform: uppercase;
                font-size: 3rem;
                letter-spacing: 15px;
                color: #27ADFF;
            }

            span:before {
                content: attr(data-text);
                position: absolute;
                top: 0;
                left: 0;
                color: transparent;
                background-image: 
                repeating-linear-gradient(
                    135deg,
                    transparent 0,
                    transparent 2px,
                    #ed0a8b 2px,
                    #ed0a8b 4px
                );
                -webkit-background-clip: text;
                    background-clip: text;
                z-index: -1;
                -webkit-text-stroke: 2px #ed0a8b;
            }

            span:hover:before {
                top: 0.1em;
                left: 0.1em;
            }

            span:after {
                content: attr(data-text);
                position: absolute;
                top: 0;
                left: 0;
                color: rgba(255, 255, 255, 0.2);
                -webkit-text-stroke: 2px #ffffff;
            }

            span:hover:after {
                top: -0.1em;
                left: -0.1em;
            }

        }

        &:nth-of-type(4) {
            color: #ffffff;

            h1 {
                font-family: 'Lato-Light', sans-serif;
                font-style: italic;
                font-weight: 300;
            }

            span {
                position: absolute;
                transform: translate(-50%, -50%);
                top: 35%;
                left: 10%;
                font-family: 'Poppins', sans-serif;
                text-transform: uppercase;
                font-size: 3rem;
                letter-spacing: 15px;
                color: #27ADFF;
            }

            span:before {
                content: attr(data-text);
                position: absolute;
                top: 0;
                left: 0;
                color: transparent;
                background-image: 
                repeating-linear-gradient(
                    135deg,
                    transparent 0,
                    transparent 2px,
                    #ed0a8b 2px,
                    #ed0a8b 4px
                );
                -webkit-background-clip: text;
                    background-clip: text;
                z-index: -1;
                -webkit-text-stroke: 2px #ed0a8b;
            }

            span:hover:before {
                top: 0.1em;
                left: 0.1em;
            }

            span:after {
                content: attr(data-text);
                position: absolute;
                top: 0;
                left: 0;
                color: rgba(255, 255, 255, 0.2);
                -webkit-text-stroke: 2px #ffffff;
            }

            span:hover:after {
                top: -0.1em;
                left: -0.1em;
            }

        }

        &:nth-of-type(5) {

            color: #ffffff;

            h1 {
                font-family: 'Lato-Light', sans-serif;
                font-style: italic;
                font-weight: 300;
            }

            span {
                position: absolute;
                transform: translate(-50%, -50%);
                top: 35%;
                left: 10%;
                font-family: 'Poppins', sans-serif;
                text-transform: uppercase;
                font-size: 3rem;
                letter-spacing: 15px;
                color: #27ADFF;
            }

            span:before {
                content: attr(data-text);
                position: absolute;
                top: 0;
                left: 0;
                color: transparent;
                background-image: 
                repeating-linear-gradient(
                    135deg,
                    transparent 0,
                    transparent 2px,
                    #ed0a8b 2px,
                    #ed0a8b 4px
                );
                -webkit-background-clip: text;
                    background-clip: text;
                z-index: -1;
                -webkit-text-stroke: 2px #ed0a8b;
            }

            span:hover:before {
                top: 0.1em;
                left: 0.1em;
            }

            span:after {
                content: attr(data-text);
                position: absolute;
                top: 0;
                left: 0;
                color: rgba(255, 255, 255, 0.2);
                -webkit-text-stroke: 2px #ffffff;
            }

            span:hover:after {
                top: -0.1em;
                left: -0.1em;
            }
        }

        &:nth-of-type(6) {

            color: #ffffff;

            h1 {
                font-family: 'Lato-Light', sans-serif;
                font-style: italic;
                font-weight: 300;
            }

            span {
                position: absolute;
                transform: translate(-50%, -50%);
                top: 35%;
                left: 10%;
                font-family: 'Poppins', sans-serif;
                text-transform: uppercase;
                font-size: 3rem;
                letter-spacing: 15px;
                color: #27ADFF;
            }

            span:before {
                content: attr(data-text);
                position: absolute;
                top: 0;
                left: 0;
                color: transparent;
                background-image: 
                repeating-linear-gradient(
                    135deg,
                    transparent 0,
                    transparent 2px,
                    #ed0a8b 2px,
                    #ed0a8b 4px
                );
                -webkit-background-clip: text;
                    background-clip: text;
                z-index: -1;
                -webkit-text-stroke: 2px #ed0a8b;
            }

            span:hover:before {
                top: 0.1em;
                left: 0.1em;
            }

            span:after {
                content: attr(data-text);
                position: absolute;
                top: 0;
                left: 0;
                color: rgba(255, 255, 255, 0.2);
                -webkit-text-stroke: 2px #ffffff;
            }

            span:hover:after {
                top: -0.1em;
                left: -0.1em;
            }
        }

        &:nth-of-type(7) {

            color: #ffffff;

            h1 {
                font-family: 'Lato-Light', sans-serif;
                font-style: italic;
                font-weight: 300;
            }

            span {
                position: absolute;
                transform: translate(-50%, -50%);
                top: 35%;
                left: 10%;
                font-family: 'Poppins', sans-serif;
                text-transform: uppercase;
                font-size: 3rem;
                letter-spacing: 15px;
                color: #27ADFF;
            }

            span:before {
                content: attr(data-text);
                position: absolute;
                top: 0;
                left: 0;
                color: transparent;
                background-image: 
                repeating-linear-gradient(
                    135deg,
                    transparent 0,
                    transparent 2px,
                    #ed0a8b 2px,
                    #ed0a8b 4px
                );
                -webkit-background-clip: text;
                    background-clip: text;
                z-index: -1;
                -webkit-text-stroke: 2px #ed0a8b;
            }

            span:hover:before {
                top: 0.1em;
                left: 0.1em;
            }

            span:after {
                content: attr(data-text);
                position: absolute;
                top: 0;
                left: 0;
                color: rgba(255, 255, 255, 0.2);
                -webkit-text-stroke: 2px #ffffff;
            }

            span:hover:after {
                top: -0.1em;
                left: -0.1em;
            }
        }

        &:nth-of-type(8) {

            color: #ffffff;

            h1 {
                font-family: 'Lato-Light', sans-serif;
                font-style: italic;
                font-weight: 300;
            }

            span {
                position: absolute;
                transform: translate(-50%, -50%);
                top: 35%;
                left: 10%;
                font-family: 'Poppins', sans-serif;
                text-transform: uppercase;
                font-size: 3rem;
                letter-spacing: 15px;
                color: #27ADFF;
            }

            span:before {
                content: attr(data-text);
                position: absolute;
                top: 0;
                left: 0;
                color: transparent;
                background-image: 
                repeating-linear-gradient(
                    135deg,
                    transparent 0,
                    transparent 2px,
                    #ed0a8b 2px,
                    #ed0a8b 4px
                );
                -webkit-background-clip: text;
                    background-clip: text;
                z-index: -1;
                -webkit-text-stroke: 2px #ed0a8b;
            }

            span:hover:before {
                top: 0.1em;
                left: 0.1em;
            }

            span:after {
                content: attr(data-text);
                position: absolute;
                top: 0;
                left: 0;
                color: rgba(255, 255, 255, 0.2);
                -webkit-text-stroke: 2px #ffffff;
            }

            span:hover:after {
                top: -0.1em;
                left: -0.1em;
            }
        }

        &:nth-of-type(9) {

            color: #ffffff;

            h1 {
                font-family: 'Lato-Light', sans-serif;
                font-style: italic;
                font-weight: 300;
            }

            span {
                position: absolute;
                transform: translate(-50%, -50%);
                top: 35%;
                left: 10%;
                font-family: 'Poppins', sans-serif;
                text-transform: uppercase;
                font-size: 3rem;
                letter-spacing: 15px;
                color: #27ADFF;
            }

            span:before {
                content: attr(data-text);
                position: absolute;
                top: 0;
                left: 0;
                color: transparent;
                background-image: 
                repeating-linear-gradient(
                    135deg,
                    transparent 0,
                    transparent 2px,
                    #ed0a8b 2px,
                    #ed0a8b 4px
                );
                -webkit-background-clip: text;
                    background-clip: text;
                z-index: -1;
                -webkit-text-stroke: 2px #ed0a8b;
            }

            span:hover:before {
                top: 0.1em;
                left: 0.1em;
            }

            span:after {
                content: attr(data-text);
                position: absolute;
                top: 0;
                left: 0;
                color: rgba(255, 255, 255, 0.2);
                -webkit-text-stroke: 2px #ffffff;
            }

            span:hover:after {
                top: -0.1em;
                left: -0.1em;
            }
        }

        &:nth-of-type(10) {

            color: #ffffff;

            h1 {
                font-family: 'Lato-Light', sans-serif;
                font-style: italic;
                font-weight: 300;
            }

            span {
                position: absolute;
                transform: translate(-50%, -50%);
                top: 35%;
                left: 10%;
                font-family: 'Poppins', sans-serif;
                text-transform: uppercase;
                font-size: 3rem;
                letter-spacing: 15px;
                color: #27ADFF;
            }

            span:before {
                content: attr(data-text);
                position: absolute;
                top: 0;
                left: 0;
                color: transparent;
                background-image: 
                repeating-linear-gradient(
                    135deg,
                    transparent 0,
                    transparent 2px,
                    #ed0a8b 2px,
                    #ed0a8b 4px
                );
                -webkit-background-clip: text;
                    background-clip: text;
                z-index: -1;
                -webkit-text-stroke: 2px #ed0a8b;
            }

            span:hover:before {
                top: 0.1em;
                left: 0.1em;
            }

            span:after {
                content: attr(data-text);
                position: absolute;
                top: 0;
                left: 0;
                color: rgba(255, 255, 255, 0.2);
                -webkit-text-stroke: 2px #ffffff;
            }

            span:hover:after {
                top: -0.1em;
                left: -0.1em;
            }
        }

        &:nth-of-type(11) {
            body {
                padding: 0;
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 100vh;
            }

            h1 {
                color: transparent;
                font-family: "Red Hat Display", sans-serif;
                font-size: 18vh;
                text-align: center;
                background: url(Collage.jpg);
                background-size: 40%;
                background-position: 50% 50%;
                -webkit-background-clip: text;
                animation: zoomout 10s ease infinite forwards;
            }

        }

        .link {
            font-size: 2.5rem;

        }

        .subtext {
            font-size: 1rem;
        }

        p {
            font-family: 'Lato';
            font-weight: 300;
        }
    }
}


.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 3s;
}

.show {
    opacity: 1;
    filter: blur(0px);
}

a.underline {
    text-decoration: none;
    color: inherit;
}

.underline {
    display: inline-block;
    padding-bottom: .25rem;
    position: relative;
}

.underline::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: pink;
    transition: width .5s ease-out;
}

.underline:hover::before {
    width: 100%;

}

.title {
    display: inline-block;
    width: 100%;
    max-width: 700px;
    text-align: center;
}

.description {
    display: inline-block;
    width: 100%;
    max-width: 250px;
    padding: 25px;
}

.numbers {
    font-size: 5rem;
    font-family: 'Lato-Light', sans-serif;
    font-style: italic;
    font-weight: 300;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.date {
    font-family: 'Lato-Light', sans-serif;
    font-weight: 200;
    font-style: italic;
}

.dateImg {
    display: inline-block;
    width: 100%;
    height: auto;
    max-width: 400px;
}

.dateVid {
    display: inline-block;
    width: 100%;
    height: auto;
    max-width: 400px;
}

.stackImg {
    display: inline-block;
    width: 100%;
    height: auto;
    max-width: 346.82px;
    padding: 10px;
}

.flex-stack {
    display: flex;
    flex-flow: column;
}


@keyframes zoomout {
    from {
        background-size: 40%;
    }
    to {
        background-size: 10%;
    }
}


@keyframes spin_words{
    10%{
        transform: translateY(-112%);
    }
    25%{
        transform: translateY(-100%);
    }
    35%{
        transform: translateY(-212%);
    }
    50%{
        transform: translateY(-200%);
    }
    60%{
        transform: translateY(-312%);
    }
    75%{
        transform: translateY(-300%);
    }
    85%{
        transform: translateY(-412%);
    }
    100%{
        transform: translateY(-400%);
    }
}

// large screen 

// @media (max-width: 2500px) {
//     html {
//         font-size: 50px;
//     }
// }  

@media (max-width: 2000px) {
    html {
      font-size: 30px;
    }

    p {
        font-size: .5rem;
    }  
    
    .dateImg {
        padding: 10px;
    }
  }

  @media (max-width: 1450px) {

    #number {
        display: none;
    }


  }

@media (max-width: 1200px) {
    html {
      font-size: 25px;
    }

    p {
        font-size: 1rem;
    }

    .title {
        max-width: 800px;
    }

    .description {
        max-width: 700px;
        text-align: center;
    }

    .title {
        max-width: 500px;
    }

    .dateImg {
        max-width: 245px;
        padding: 10px;
    }

    .date {
        display: none;
    }

    .numbers {
        display: none;
    }

    .flexbox {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
    }

    #number {
        display: none;
    }
  }
  
  // Tablet screen 
  
  @media (max-width: 768px) {
    html {
      font-size: 16px;
    }

    span {
        display: none;
    }

    p {
        font-size: 1.1rem;
    }

    .description {
        max-width: 700px;
        text-align: center;
    }

    .title {
        max-width: 500px;
    }

    .dateImg {
        max-width: 200px;
        padding: 10px;
    }

    .numbers {
        display: none;
    }

    .flexbox {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
    }
    #number {
        display: none;
    }

  }
  
  // Mobile screen 
  
  @media (max-width: 450px) {
    html {
      font-size: 14px;
    }

    span {
        display: none;
    }

    .dateImg {
        max-width: 150px;
        padding: 0px;
    }

    .flex-stack {
        display: none;
    }

    .description {
        max-width: 700px;
        text-align: center;
        padding: 10px;
    }

    .flexbox {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
    }

    .numbers {
        display: none;
    }

    .date {
        font-size: 1.5rem;
    }

   p {
       font-size: 1.5rem;
   }

   h1 {
       font-size: 2rem;
   }
}